
body {
    background-color: rgb(207, 207, 207);
    height: 1000px;
}

.title {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 42, 231);
    margin: 0;
    color: white;
}
.tel__blok {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    margin-left: 550px;
    animation-name: move ;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.tel__logo {
    margin-right: 5px;
}
.tel__img {
    width: 70%;
}
@keyframes move {
0%{
background-color: rgb(5, 253, 38);
}
50%{
    background-color: rgb(253, 5, 5);
    }

100% {
    margin-left: 0px;
    background-color: rgb(43, 13, 240);
    color: white;
}
}

.carousel-inner {
    height: 400px;
}
/* Info */
.info__blok {
    color: #4feded;
    font-style: italic;
    font-size: 20px;
    background:  url("main.jpg") center no-repeat;
    background-size: cover;
}
.info__blok p {
    padding: 25px;
}
@media (max-width: 420px) {
    .info__blok {
        margin-top: -135px;
    }
}
/* Price */
.price__main {

}
.price__blok {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    color: aliceblue;
}
.price__img {
    width: 120%;
}
.price__info {
    /* margin-left: 10%; */
}
@media (max-width: 420px) {
    .price__main {
        /* margin-top: -150px; */
    }
    .price__img {
        width: 60%;
    }
}